#wrapper{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

li{
  list-style-type: none;
}

footer{
  background-color: darkblue;
  color: tan;
  padding-left: 30px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

h1{
  border-bottom: 10px dashed red;
  text-align: center;
  margin-bottom: 15px;
  padding-top: 10px;
}

header{
  background-image: linear-gradient(to top, yellow 0%, red 100%);
}

body{
  background-image: linear-gradient(15deg, green 0%, pink 50%, skyblue 100%);
}

p{
  height: 20px;
  width: 300px;
}
nav{
  margin-left: 5em;
  padding-top: 10px;
}

ul li{
  margin-left: -1em;
  padding-bottom: 15px;
}

.me{
  margin-left: 250px;
  padding-top: 15px;
  padding-bottom: 25px;
}