#allCards{
  box-shadow: 5px 5px 5px 5px grey;
  padding: 5em;
  background-color: rgb(240, 240, 240);
}

#searchCards{
  box-shadow: 5px 5px 5px 5px grey;
  padding: 5em;
  background-color: rgb(240, 240, 240);
  color: blue;
  margin-bottom: 1.5em;
}

body{
  background-color: rgb(50, 50, 50);
}