*{
  box-sizing: border-box;
}

html{
  font: 12pt arial, sans-serif;
}

body{
  margin: 0;
  padding: 0;
  min-height: 100vh;

}

.logo{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: lightgray;
}

.logo-image{
  width: 100px;
  height: 100px;
  margin: 5px;
}

.logo-text{
  padding: .5em;
  flex-shrink: 0;
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.navbar-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 5px 15px;
  background-color: black;
}

.navbar-item{
  border: 2px solid rgb(75, 75, 75);
  padding: 5px 30%;
}

.navbar-item:hover, .navbar-item:focus{
  background-color: cadetblue;
}

.navbar-link{
  text-decoration: none;
  list-style-type: none;
  color: rgb(200, 200, 200);
}


aside{
  flex-direction: column;
  border: 2px solid orangered;
  margin: 5px;
  padding: 5px 10px;
}

.about-text{
  text-align: justify;

}

.about-ex{
  font-size: 50%;
  font-style: italic;
}

.main{
  flex-grow: 1;
}

.content{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border: 2px solid gray;
  margin: 5px;
}

.content-item{
  padding: 5px;
}

.product-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: center;
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  border: 2px solid cadetblue;
}

.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
}

.product-img{
  width: 100%;
  height: 150px;
  flex-grow: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.product-name{
  font-weight: bold;
  font-size: 1.2em;
}

footer{
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 5px;
  border: 2px solid lightskyblue;
}

.order{
  font-size: 200%;
  text-align: center;
  margin: 5px;
  padding: 20px 15px;
  background-color: gray;
  color: crimson;
  border: 2px solid crimson;
}

.contact{
  text-align: center;
  margin: 5px;
  padding: 20px 15px;
  background-color: rgba(255, 0, 0, .2);
  color: darkblue;
  border: 2px solid darkblue;
}

.contact ul{
  text-align: left;
  list-style-type: none;
}


@media only screen and (min-width: 600px){
  .logo-text{
    font-size: 45px;
  }
}

@media only screen and (min-width: 900px){
  .navbar-item{
    padding: 5px 250px;
  }
}

@media only screen and (min-width: 1200px){
  .navbar-items{
    flex-direction: row;
  }
  .inbetween{
    display: flex;
  }
  aside{
    flex-basis: 30%;
    order: 5;
  }
  main{
    flex-basis: 70%;
  }
  .content{
    flex-direction: row;
  }
  .navbar-item{
    padding: 5px 5%;
  }
  .a-shop{
    flex-basis: 20%;
  }
  .m-shop{
    flex-basis: 80%;
    order: 7;
  }
}

@media only screen and (min-width: 2500px){
  .logo-image{
    height: 150px;
    width: 150px;
  }
  .logo-text{
    font-size: 45px;
  }
}